
.container-fluid
{
    position: relative;
    width: 10%;
    text-align: center;
    text-decoration-style: bold;
    margin-left: 20px;
}
.navbar-toggle {
    z-index:3;
}

#navbarNavDropdown {
	position: relative;
    width: 80%;
    text-align: center;
    margin-left: 20%;
    text-decoration-style: bold;

}

#right {
	position: absolute;
    width: 15%;
    right: 5px;
    text-align: right;
    background: #323232;
    padding-right: 35px;


}
/*#383838*/

#nav_bg {
	background-color: #323232;
	
}
body {
	background-color: #E5E3C9;
}


#hemo {
	position: relative;
	margin-top: 35px;
	width: 100%;
	height: 500px;

}

#quote {
	font-size: 50px;
	padding-top: 40px;
	padding-left: 20px;
}

#quote_founder {
	text-align: center;
	margin-bottom: 50px;
}

#line1 {
	width: 100%;
}

#join {
	margin-top: 40px;
	margin-bottom: 50px;
}

#consulate {
	text-align: center;
	background-color: #323232;
	color: #E5E3C9;
	width: 100%;
	position: relative;
	margin-left: 12px;
	color: #E5E3C9;

}

#new {
	text-align: left;
	padding-top: 40px;
	color: #E5E3C9;
}


#con_btn {
	margin-top: 50px;
	margin-bottom: 50px;
}



#more {
	text-align: center;	
	margin-top: 40px;
	margin-bottom: 40px;

}

.moreinfo {
	padding-left: 35px;
	padding-right: 35px; 
	text-align: left;
}

.moreinfo2 {
	padding-left: 35px;
	padding-right: 35px; 
	margin-bottom: 15px;
	text-align: left;
}


.nav-item :hover {
	border-bottom: 1px gray solid; 
	border-top: 1px gray solid; 
	border-radius: 5%;
}


footer {
	background-color: #323232;
	margin-left: 12px;
	text-align: center;
	color: #E5E3C9;

}

#contact {
	margin: 30px; 
}

#img-divs {
	margin-bottom: 30px;
}


div.form
{
	margin-top: 100px;
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#login {
	margin-bottom: 40px;
	color: gray;
	margin-top: 10px;
}



div.form2
{
	margin-top: 100px;
    display: block;
    text-align: center;
    margin-bottom: 150px;
}

#register {
	margin-bottom: 40px;
	color: gray;
	margin-top: 10px;
}
